.logo {
	height: 100px;
	text-align: center;
	line-height: 50px;
	color: orange;
}
.menu {
 height: 100px;
}
.add {
	height: 40%;
	margin-bottom: 5%;
}

p {
	font-size: 10px;
	color:  white;
}
.fa-map-marker-alt {
	color: white;
}
.fa-phone-square {
	color: white;
	font-size: 1rem;
}
.fa-flag-checkered {
	color: red;
}
ul li:hover {
	background: orange;
}
.fa-search {
	color: none;
	background: none;
}
.container .box {
	width: 100%;
	height: 400px;
	background: green;
		overflow: hidden;
}

.container .box img {
	width: 100%;
	height: 400px;
	transition: all;
	transition-duration: 1s;

}
.box img:hover {

	transform: scale(1.4);
}
.container .chu {
	margin: 0 auto;
	width: 83.5%;
	height: 100px;
	background: rgb(59, 60, 61 , 0.5);
	position: absolute;
	top: 63%;
	left: 8.3%;
}
.chu h1 {
	color: orange;
	font-size: 20px;

}
.chu h3 {
	display: block;
	float: left;
	width: 86%;
	font-size: 18px;
	color: white;
	transition: all;
	transition-duration: 1s; 
}
.chu h3:hover {
	transform: scale(1.3) ;
	background: linear-gradient( to left,blue,yellow);
	transform: rotate(360deg);
	width:700px;
	height: 250px;
	text-align: center;
	position: absolute;
	top: -10%;
}
.but {
	color: white;
	background: orange;
	position: absolute;
	height: 30px;
	right: 8.3%;
	bottom: 21.5%;	
}
.but1 {
	color: white;
	background: orange;
	position: absolute;
	right: 8.3%;
	bottom: 27%;	
	height: 30px;
}
.container {
	height: auto;
	background: green
}
/*contens*/
.container .page-contens .title
{
	height: 60px;
	/*background: green;*/
}
.container .page-contens .contens
{
	width: 100%;
	height: 200px;
	margin-bottom: 1%;
}
.container .page-contens .contens .item1
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens .item2
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens .item3
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens img
{
	width: 100%;
	height: 100%;
	transform: all 0.5s ease-in-out;
}
.container .page-contens .contens img:hover
{
	transform: scale(1.2);
}
.container .btn
{
	border: 1px red solid;
	margin-left: 1%;
}
/*footer*/
.container .footer{
	width: 100%;
	height: auto;
}
.container .footer .title2{
	height: 60px;
}
.container .footer .text{
	width: 100%;
	height: 100px;
	/*background: pink;*/
	position: relative;
}
.container .footer .text .nd1{
	width: 50%;
	height: 100%;
	/*background: red;*/
	float: left;
	position: absolute;
	text-indent: 25px;
}
.container .footer .text .nd2{
	width: 50%;
	height: 100%;
	/*background: blue;*/
	position: absolute;
	left: 50%;
	padding-bottom: 20px;
}
.container .footer .final p{
	float: left;
	font-size: 16px;
}
.container .footer i{
	color: white;
	margin-left:5px;
}
.container .footer .final img{
	width: 50px;
	height: 25px;
	margin-left:5px;
}

