.container{
	background: green;
}
.container .row .windown .img{
	height: 50%;
	width: 100%;
	overflow: hidden;
}
.container .row .windown .img img{
	height: 100%;
	width: 100%;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}
.container .row .windown .img img:hover{
	/*opacity: 0.9;*/
	transform: scale(1.2);

}
/*.container .row .windown .icon1{
	margin: 0 auto;
}*/
.container .row .windown1 a{
	margin-left: 950px;
}
.container .header{
	background: green;
	height: 50px;
}
.container .header h2{
	color: #FF9900;
	margin-left: 440px;
	font-family: 'Chakra Petch', sans-serif;
	font-family: 'Charm', cursive;
}
@media screen and (max-width: 576px){
	.container .header h2{
		margin-left: -20px;
		font-size: 30px;
	}
}
@media screen and (max-width: 768px){
	.container .header h2{
		margin-left: 130px;
	}
}
@media screen and (max-width: 992px){
	.container .header h2{
		/*margin-left: 50px;*/
	}
}
.container {
	height: auto;
	background: green
}
/*contens*/
.container .page-contens .title
{
	height: 60px;
	/*background: green;*/
}
.container .page-contens .contens
{
	width: 100%;
	height: 200px;
	margin-bottom: 1%;
}
.container .page-contens .contens .item1
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens .item2
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens .item3
{	float: left;
	width: 32%;
	height: 100%;
	/*background: pink;*/
	margin-left: 1%;
	overflow: hidden;
}
.container .page-contens .contens img
{
	width: 100%;
	height: 100%;
	transform: all 0.5s ease-in-out;
}
.container .page-contens .contens img:hover
{
	transform: scale(1.2);
}
.container .btn
{
	border: 1px red solid;
	margin-left: 1%;
}
/*footer*/
.container .footer{
	width: 100%;
	height: auto;
}
.container .footer .title2{
	height: 60px;
}
.container .footer .text{
	width: 100%;
	height: 100px;
	/*background: pink;*/
	position: relative;
}
.container .footer .text .nd1{
	width: 50%;
	height: 100%;
	/*background: red;*/
	float: left;
	position: absolute;
	text-indent: 25px;
}
.container .footer .text .nd2{
	width: 50%;
	height: 100%;
	/*background: blue;*/
	position: absolute;
	left: 50%;
	padding-bottom: 20px;
}
.container .footer .final p{
	float: left;
	font-size: 16px;
}
.container .footer i{
	color: white;
	margin-left:5px;
}
.container .footer .final img{
	width: 50px;
	height: 25px;
	margin-left:5px;
}

